.player-badge {
    margin-top: 32px;
    display: flex;
    align-items: center;
    
    img {
        height: 60px;
        width: 60px;
        margin-right: 25px;
        margin-left: 16px;
        border-radius: 100%;
    }
}