.start-screen {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    color: #fff;

    img {
        height: 100vh;
    }

    p {
        text-align: center;
        position: absolute;
        left: 50%;
        right: 50%;
        top: 38%;
        bottom: 62%;
        height: 200px;
        width: 200px;
        margin: 0;
    }
}